.sticky {
  position: fixed;
  height: 40px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d5fd9e;
  color: green;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sideNav {
  position: fixed;
}
